/* ensure all pages have Bootstrap CSS */
@import "~bootstrap/dist/css/bootstrap.min.css";

/* main {
  scroll-snap-type: y mandatory;
  position: relative;
  max-height: 100vh;
  
  overflow-y: auto;

} */

html {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;

  height: 100vh;
  width: 100%;
}

.nav-title{
margin: auto;
height: 10vh;
font-size: xx-large;
}

.nav-item{

  height: 20vh;
  width: 20vw;

}

.nav-item:hover{
  transform: scale(1.1);
}

.exp-image{
  height: 20vh;
  width: 20vw;
  object-fit: contain;
}

.project{
  color: black;
}

.nav-link{
 color: black;

}

.card-title {
  color: black;
  text-decoration-line: underline;
}

.experience-header{
  display: flex;
  justify-content: space-between;
}
.container {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;


}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #0070f3;
  text-decoration: none;
}




h3 {
  font: 400 2em/1.5 sans-serif;
}

.tabs-container {

  margin: auto;
}

.tab-card{
  outline-style: solid;
  display: flex;
}

.tab-image{
  width: 30vw;
  margin-left: auto;
}

.tab-link{
  color: black;
  font-size: 16px;
}




